* {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}


.form {
    display: flex;
    flex-direction: ;

    justify-self: start;
    align-self: start;
}
.container {
    display: grid;
    
}